<?xml version="1.0"?>
<configuration>
  <nlog throwExceptions="false">
    <variable name="logDirectory" value="${basedir}/logs" />
    <targets async="true">
      <!--<default-target-parameters
        type="File"
        archiveAboveSize="50485760"
        maxArchiveFiles="50"
        archiveNumbering="Rolling"
        keepFileOpen="false"
        layout="${longdate} ${callsite} ${message} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}"/>-->
      <target name="f1"
              type="File"
              fileName="${logDirectory}/${shortdate}.html">
        <layout>
          <![CDATA[
              level:${level}<br />
              longdate:${longdate}<br />
              message:${message}<br /><br />
          ]]>
        </layout>
      </target>
      <target name="f2"
        type="File"
        fileName="${logDirectory}/${shortdate}.html">
        <layout>
          <![CDATA[
              level:${level}<br />
              longdate:${longdate}<br />
              message:${message}<br />
              exception:${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}<br /><br />
          ]]>
        </layout>
      </target>
      <target name="f3"
           type="Mail"
           header="----------"
           footer="----------"
           layout="${longdate} ${level} ${callsite} ${message} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}"
           html="false"
           addNewLines="true"
           subject="${message}"
           to=""
           from=""
           body="${longdate} ${level} ${callsite} ${message} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}"
           smtpUserName="UserName"
           enableSsl="false"
           smtpPassword="Password"
           smtpAuthentication="Basic"
           smtpServer="smtp.hooyes.com"
           smtpPort="25" />
    </targets>
    <rules>
      <logger name="instart" levels="Debug,Info,Warn" writeTo="f1" />
      <logger name="*" minlevel="Error" writeTo="f2" />
    </rules>
  </nlog>
</configuration>