@using Instart.Models
@model List<Program>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFeature.cshtml";
}


<div class="course-info com-cont" id="main">
    <ul>
        @foreach (var item in Model)
        {
            <li style="position:relative;">
                <div class="course-item">
                    <a href="/about/show/@item.Id" class="cimg"><img src="@item.Picture" alt="" /></a>
                    <div class="c-guide">
                        <p> <b>@item.Name</b> <span>@item.NameEn</span> </p>
                    </div>
                    <div class="c-infos">@item.Introduce</div>
                    <div class="c-yue"><a href="/about/show/@item.Id" target="_blank">项目咨询</a></div>
                </div>
            </li>
        }
    </ul>
</div>


