@using Instart.Models
@model Studio
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_LayoutFeature.cshtml";
}

<div class="maincont padding30 overflow">
    <div class="xue-left fl">
        <div class="course-item">
            <a href="#" class="cimg"><img src="@Model.ImgUrl" alt="" /></a>
            <div class="c-guide">
                <p> <b>24 小时工作室</b> <span>24 Hour Lab</span> </p>
            </div>
            <div class="c-infos">@Model.Introduce</div>
        </div>
    </div>
    <div class="xue-right fr">
        <div class="claimlist">
            @Html.Raw(Model.Details)
        </div>
    </div>
</div>
<!--实习单位环境/作品 轮播图-->
<div class="workbo">
    <div class="bd">
        <ul>
            @foreach (StudioImg item in ViewBag.ImageList)
            {
                <li> <a href="javascript:void(0)"><img src="@item.ImgUrl" /></a> </li>
            }
        </ul>
    </div>
    <div class="hd"> <a class="prev"></a> <a class="next"></a> </div>
</div>

<script>
    window.onload = function () {
        $(".workbo").slide({ titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "left", autoPlay: false, vis: 1, trigger: "click" });
    }
</script>

