@{
    ViewBag.Title = "ProToPro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner展示图-->
@Html.Partial("PartialBanner", Instart.Models.Enums.EnumBannerPos.About)

<div class="maincont">
    <!--特色菜单-->
    @Html.Partial("PartialFeature", new KeyValuePair<string, string>("type", ViewBag.Type.ToString()))
</div>
<div class="maincont padding30">
    <div class="dancont">
        @Html.Raw(ViewBag.PassLearning)
    </div>
</div>

<div class="maincont">
    <!--课程推荐-->
    @Html.Partial("PartialRecommendCourse")
</div>
