@using Instart.Models
@{
    ViewBag.Title = "工作室图片";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .w_con_left {
        width: 100%;
        height: auto;
        float: left;
        margin: 0px;
    }

    .w_ico {
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

        .w_ico li {
            float: left;
            width: 250px;
            list-style: none;
            text-align: center;
            margin-bottom: 20px;
        }

            .w_ico li img {
                width: 200px;
                height: 200px;
                position: relative;
                top: 5px;
                border: none;
            }

            .w_ico li p {
                margin-top: 10px;
            }
</style>
<div class="row">
    @Html.Partial("PartialFeature")
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding-top:75px;">
        <ol class="breadcrumb">
            <li><a href="/manage/studio">24小时工作室</a></li>
            <li class="active">工作室图片</li>
        </ol>

        <div class="w_con_left">
            <ul class="w_ico">
                @if (ViewBag.ImgList != null)
                {
                    foreach (StudioImg item in ViewBag.ImgList)
                    {
                        <li class="icoli">
                            <img src="@item.ImgUrl" style="width:200px;height:200px;border:1px solid #eee;" /><p>
                                <a href="javascript:void(0)" onclick="deleteImg(this, @item.Id)" class="btn btn-primary">删除</a>
                            </p>
                        </li>
                    }
                }
                <li class="icoli">
                    @using (Html.BeginForm("SetImg", "Studio", new
                    {
                        area = "Manage"
                    }, FormMethod.Post, new
                    {
                        enctype = "multipart/form-data",
                        id = "mainForm"
                    }))
                    {
                        <img src="" id="imgPreview" style="width:200px;height:200px;border:1px solid #eee;" /><p>
                            <input type='file' id='studioImg' name='studioImg' style="margin-left: 25px;">
                            <a href="javascript:void(0)" onclick="imgSubmit()" class="btn btn-primary">上传</a>
                        </p>
                    }
                </li>
            </ul>
        </div>

    </div>
</div>

@section Bottom{
    <script>
        function deleteImg(obj, id) {
            layer.confirm('确定删除该图片吗', function (index) {
                $.post('/manage/studio/deleteimg', { "id": id }, function (slt) {
                    if (slt && slt.success) {
                        $(obj).parent().parent().detach();
                    }
                    else {
                        layer.msg(slt.message || '操作失败，请重试');
                    }
                });

                layer.close(index);
            });
        }

        function imgSubmit() {
            $("#mainForm").ajaxSubmit({
                success: function (slt) {
                    if (slt && slt.success) {
                        location.href = '@Url.Action("ImgIndex", "studio", new { area="manage"})';
                    }
                    else {
                        layer.msg(slt.message || '操作失败，请重试。');
                    }
                }
            });
        }

        $('#studioImg').change(function () {
            imagePreview(this.files[0], $("#imgPreview"));
        });
    </script>
}

