<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li data-flag="copys"><a href="/manage/copys">咨询文案</a></li>
        <li data-flag="heremore"><a href="/manage/heremore">here&more</a></li>
        <li data-flag="teacherquestion"><a href="/manage/teacherquestion">向导师提问</a></li>
        <li data-flag="schoolapply"><a href="/manage/schoolapply">院校咨询</a></li>
        <li data-flag="majorapply"><a href="/manage/majorapply">专业咨询</a></li>
        <li data-flag="workscomment"><a href="/manage/workscomment">作品评析</a></li>
        <li data-flag="courseapply"><a href="/manage/courseapply">课程咨询</a></li>
        <li data-flag="courseorder"><a href="/manage/courseorder">课程预约</a></li>
        <li data-flag="programapply"><a href="/manage/programapply">项目咨询</a></li>
        <li data-flag="companyapply"><a href="/manage/companyapply">实习预约</a></li>
    </ul>
</div>