<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li data-flag="program"><a href="/manage/program">项目管理</a></li>
        <li data-flag="company"><a href="/manage/company">实习推荐</a></li>
        <li data-flag="edu"><a href="/manage/edu">跨学科教学</a></li>
        <li data-flag="studio"><a href="/manage/studio">24小时工作室</a></li>
    </ul>
</div>
