<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li data-flag="user"><a href="/manage/user">用户管理</a></li>
        <li data-flag="log"><a href="/manage/log">操作日志</a></li>
    </ul>
</div>