<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li data-flag="schoolapply"><a href="/manage/schoolapply">学校申请</a></li>
        <li data-flag="courseapply"><a href="/manage/courseapply">课程申请</a></li>
    </ul>
</div>