<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li data-flag="banner"><a href="/manage/banner">轮播管理</a></li>
        <li data-flag="partner"><a href="/manage/partner">合作伙伴</a></li>
        <li data-flag="recruit"><a href="/manage/recruit">招贤纳士</a></li>
        <li data-flag="contact"><a href="/manage/contact">联系我们</a></li>
        <li data-flag="about"><a href="/manage/about">关于instart</a></li>
    </ul>
</div>