<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li data-flag="campus"><a href="/manage/campus">校区管理</a></li>
        <li data-flag="division"><a href="/manage/division">学部管理</a></li>
        <li data-flag="school"><a href="/manage/school">艺术院校</a></li>
        <li data-flag="teacher"><a href="/manage/teacher">艺术导师</a></li>
        <li data-flag="major"><a href="/manage/major">艺术专业</a></li>
        <li data-flag="course"><a href="/manage/course">课程管理</a></li>
        <li data-flag="student"><a href="/manage/student">成功学员</a></li>
        <li data-flag="works"><a href="/manage/works">作品管理</a></li>
    </ul>
</div>