
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>一沙国际创意教育</title>
    <meta http-equiv="keywords" content="一沙国际创意教育" />
    <meta http-equiv="description" content="一沙国际创意教育" />
    <link href="/content/css/common.css" type="text/css" rel="stylesheet" />
    <link href="/content/css/main.css" type="text/css" rel="stylesheet" />

    <script src="/content/js/jquery-1.11.3.min.js" type="text/javascript"></script>
</head>

<body>
    @RenderBody()

    <script src="/content/js/remH.js" type="text/javascript"></script>
    <script src="/content/js/index.js" type="text/javascript"></script>
    <script src="/content/js/banner.js" type="text/javascript"></script>
    <script src="/content/js/pubu.js" type="text/javascript"></script>
    <script src="/content/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
</body>
</html>

