@using Instart.Models
@{
    var courseList = Instart.Web2.Helper.CommonDataHelper.GetCourseList();
}

<div class="title topborder">
    <h2>课程推荐</h2>
    <a href="/course" class="more">查看全部&gt;&gt;</a>
</div>
<div class="recommend com-cont">
    <ul>
        @foreach (Course item in courseList)
        {
            <li>
                <div class="recimg">
                    <a href="/course/details/@item.Id">
                        <i></i>
                        <p>@item.Introduce</p>
                        <img src="@item.Picture" alt="@item.Name" />
                    </a>
                </div>
            </li>
        }
    </ul>
</div>