@using Instart.Models
@{
    Instart.Models.Enums.EnumBannerPos pos = (Instart.Models.Enums.EnumBannerPos)Model;
    var bannerList = Instart.Web2.Helper.CommonDataHelper.GetBannerList(pos);
}

<div class="banner">
    <ul class="lubo_box">
        @foreach (Banner item in bannerList)
        {
            if (item.Type == Instart.Models.Enums.EnumBannerType.Image)
            {
                <li><a style="background:url(@item.ImageUrl) center top no-repeat"></a></li>
            }
            else if (item.Type == Instart.Models.Enums.EnumBannerType.Video)
            {
                <li>
                    <a href="" style="background:url(@item.ImageUrl) center top no-repeat">
                        <video autoplay="autoplay" muted="muted" loop="loop" poster="@item.ImageUrl" title="">
                            <source class="video--mp4" src="@item.VideoUrl" type="video/mp4">
                        </video>
                    </a>
                </li>
            }
        }
    </ul>
</div>