
<div class="inslist">
    <span class="per"><a href="javascript:;"></a></span> <span class="next"><a href="javascript:;"></a></span>
    <span class="next"><a href="javascript:;"></a></span>
    <div class="insliu">
        <ul>
            <li>
                <p><a class="feature-menu" data-flag="ProToPro" href="/feature/?type=1">Pre to Pro</a></p>
            </li>
            <li>
                <p><a class="feature-menu" data-flag="Division" href="/feature/division">学部制度</a></p>
            </li>
            <li>
                <p><a class="feature-menu" data-flag="Teach" href="/feature/teach">跨学科教学</a></p>
            </li>
            <li>
                <p><a class="feature-menu" data-flag="Workshop" href="/feature/?type=2">Workshop</a></p>
            </li>
            <li>
                <p><a class="feature-menu" data-flag="Studio" href="/feature/studio">24小时工作室</a></p>
            </li>
            <li>
                <p><a class="feature-menu" data-flag="Company" href="/feature/company">实习推荐</a></p>
            </li>
            <li>
                <p><a class="feature-menu" data-flag="Actor" href="/feature/?type=3">艺术家孵化平台</a></p>
            </li>
            <li>
                <p><a class="feature-menu" data-flag="Area" href="/feature/?type=4">驻地项目</a></p>
            </li>
        </ul>
    </div>
</div>

<script>
    $(function () {
        var type = "@ViewData["type"]";
        $.each($("a.feature-menu"), function () {
            var flag = $(this).attr("data-flag")
            if (flag == type) {
                $(this).css({ "background": "#0000ff", "color": "#fff" });
                return;
            }
        })
    });
</script>
